body {
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(images/tumblr_ngj74x9GsL1toa8s4o1_500.gif);

    
}

.ground {
    color: black;
}
canvas {
   background-image: url(images/tumblr_ngj74x9GsL1toa8s4o1_500.gif);
}                               